<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap=""
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         strict="false"
         verbose="false">
  <!-- ... -->
</phpunit>
